{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main class="main" id="cart-list">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>{% trans "Home" %}</a>
                <span></span> {% trans "Shop" %}
                <span></span> {% trans "Cart" %}
            </div>
        </div>
    </div>

    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">{% trans "Your Cart" %}</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">{% trans "There are" %} <span class="text-brand">{{ totalcartitems }}</span> {% trans "products in your cart" %}</h6>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-8">
            <div id="cart-table">
              {% include 'core/async/cart-table.html' %}
            </div>

          </div>


            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label"><h6 class="text-muted">{% trans "Subtotal" %}</h6></td>
                                    <td class="cart_total_amount"><h4 class="text-brand text-end">${{ cart_total_amount|floatformat:2 }}</h4></td>
                                </tr>
                                <tr><td colspan="2"><div class="divider-2 mt-10 mb-10"></div></td></tr>
                                <tr>
                                    <td class="cart_total_label"><h6 class="text-muted">{% trans "Shipping" %}</h6></td>
                                    <td class="cart_total_amount"><h5 class="text-heading text-end">{% trans "Free" %}</h5></td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label"><h6 class="text-muted">{% trans "Total" %}</h6></td>
                                    <td class="cart_total_amount"><h4 class="text-brand text-end">${{ cart_total_amount|floatformat:2 }}</h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    {% if totalcartitems %}
                    <a href="{% url 'core:checkout' order.id %}" class="btn mb-20 w-100">
                      {% trans "Proceed To CheckOut" %}<i class="fi-rs-sign-out ml-15"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'assets/js/function.js' %}"></script>
  {% endblock %}
