{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main class="main">
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                <section class="home-slider position-relative mb-30">
                    <div class="home-slide-cover mt-30">
                        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        {% trans "Don't miss amazing" %}<br /> {% trans "grocery deals" %}
                                    </h1>
                                    <p class="mb-65">{% trans "Sign up for the daily newsletter" %}</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="{% trans 'Your email address' %}" />
                                        <button class="btn" type="submit">{% trans "Subscribe" %}</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        {% trans "Fresh Vegetables" %}<br /> {% trans "Big discount" %}
                                    </h1>
                                    <p class="mb-65">{% trans "Save up to 50% off on your first order" %}</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="{% trans 'Your email address' %}" />
                                        <button class="btn" type="submit">{% trans "Subscribe" %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="slider-arrow hero-slider-1-arrow"></div>
                    </div>
                </section>
                <!--End hero-->

                <section class="product-tabs section-padding position-relative">
                  <div class="section-title style-2">
                    <h3>{% trans "Popular Products" %}</h3>
                    <ul class="nav nav-tabs links" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">{% trans "All" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">{% trans "Milks & Dairies" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">{% trans "Coffees & Teas" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-four" data-bs-toggle="tab" data-bs-target="#tab-four" type="button" role="tab" aria-controls="tab-four" aria-selected="false">{% trans "Pet Foods" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-five" data-bs-toggle="tab" data-bs-target="#tab-five" type="button" role="tab" aria-controls="tab-five" aria-selected="false">{% trans "Meats" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-six" data-bs-toggle="tab" data-bs-target="#tab-six" type="button" role="tab" aria-controls="tab-six" aria-selected="false">{% trans "Vegetables" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-seven" data-bs-toggle="tab" data-bs-target="#tab-seven" type="button" role="tab" aria-controls="tab-seven" aria-selected="false">{% trans "Fruits" %}</button>
                      </li>
                    </ul>
                  </div>

                  <!-- Tab content -->
                  <div class="tab-content" id="myTabContent">
                    {% include "core/product_tab.html" with product=products tab_id="tab-one" active=True %}
                    {% include "core/product_tab.html" with product=products_milk tab_id="tab-two" active=False %}
                    {% include "core/product_tab.html" with product=products_tea tab_id="tab-three" active=False %}
                    {% include "core/product_tab.html" with product=products_pet tab_id="tab-four" active=False %}
                    {% include "core/product_tab.html" with product=products_meat tab_id="tab-five" active=False %}
                    {% include "core/product_tab.html" with product=products_veg tab_id="tab-six" active=False %}
                    {% include "core/product_tab.html" with product=products_fruit tab_id="tab-seven" active=False %}
                  </div>
                </section>

                <!--Products Tabs-->

                <section class="section-padding pb-5">
                    <div class="section-title">
                        <h3 class="">{% trans "Deals Of The Day" %}</h3>
                        <a class="show-all" href="#">
                            {% trans "All Deals" %}
                            <i class="fi-rs-angle-right"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="product-cart-wrap style-2">
                                <div class="product-img-action-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="{% static 'assets/imgs/banner/banner-5.png' %}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="deals-countdown-wrap">
                                        <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                    </div>
                                    <div class="deals-content">
                                        <h2><a href="#">{% trans "Seeds of Change Organic Quinoa Brown" %}</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">{% trans "By" %} <a href="#">{% trans "ECOMFood" %}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>$32.85</span>
                                                <span class="old-price">$33.8</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="#"><i class="fi-rs-shopping-cart mr-5"></i>{% trans "Add" %} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="product-cart-wrap style-2">
                                <div class="product-img-action-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="{% static 'assets/imgs/banner/banner-6.png' %}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="deals-countdown-wrap">
                                        <div class="deals-countdown" data-countdown="2026/04/25 00:00:00"></div>
                                    </div>
                                    <div class="deals-content">
                                        <h2><a href="#">{% trans "Perdue Simply Smart Organics Gluten" %}</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">{% trans "By" %} <a href="#">{% trans "Old El Paso" %}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>$24.85</span>
                                                <span class="old-price">$26.8</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="#"><i class="fi-rs-shopping-cart mr-5"></i>{% trans "Add" %} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Deals-->

                <section class="banners">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="banner-img">
                                <img src="{% static 'assets/imgs/banner/banner-1.png' %}" alt="" />
                                <div class="banner-text">
                                    <h4>
                                        {% trans "Everyday Fresh &" %} <br />{% trans "Clean with Our" %}<br /> {% trans "Products" %}
                                    </h4>
                                    <a href="#" class="btn btn-xs">{% trans "Shop Now" %} <i class="fi-rs-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="banner-img">
                                <img src="{% static 'assets/imgs/banner/banner-2.png' %}" alt="" />
                                <div class="banner-text">
                                    <h4>
                                        {% trans "Make your Breakfast" %}<br /> {% trans "Healthy and Easy" %}
                                    </h4>
                                    <a href="#" class="btn btn-xs">{% trans "Shop Now" %} <i class="fi-rs-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-md-none d-lg-flex">
                            <div class="banner-img mb-sm-0">
                                <img src="{% static 'assets/imgs/banner/banner-3.png' %}" alt="" />
                                <div class="banner-text">
                                    <h4>{% trans "The best Organic" %} <br />{% trans "Products Online" %}</h4>
                                    <a href="#" class="btn btn-xs">{% trans "Shop Now" %} <i class="fi-rs-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End banners-->
            </div>

            <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                <div class="sidebar-widget widget-category-2 mb-30">
                    <h5 class="section-title style-1 mb-30">{% trans "Category" %}</h5>
                    <ul>
                        <li>
                            <a href="#"> <img src="{% static 'assets/imgs/theme/category-1.png' %}" alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 10px;" />{% trans "Milks & Dairies" %}</a><span class="count">30</span>
                        </li>
                        <li>
                            <a href="#"> <img src="{% static 'assets/imgs/theme/category-2.png' %}" alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 10px;" />{% trans "Clothing & Beauty" %}</a><span class="count">25</span>
                        </li>
                        <li>
                            <a href="#"> <img src="{% static 'assets/imgs/theme/category-3.png' %}" alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 10px;" />{% trans "Pet Foods & Toy" %}</a><span class="count">42</span>
                        </li>
                        <li>
                            <a href="#"> <img src="{% static 'assets/imgs/theme/category-4.png' %}" alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 10px;" />{% trans "Baking material" %}</a><span class="count">18</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="popular-categories section-padding">
        <div class="container">
            <div class="section-title">
                <div class="title">
                    <h3>{% trans "Shop by Categories" %}</h3>
                    <a class="show-all" href="#">
                        {% trans "All Categories" %}
                        <i class="fi-rs-angle-right"></i>
                    </a>
                </div>
                <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow" id="carausel-8-columns-arrows"></div>
            </div>
            <div class="carausel-8-columns-cover position-relative">
                <div class="carausel-8-columns" id="carausel-8-columns">
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'assets/imgs/theme/icons/category-1.svg' %}" alt="" /></a>
                        </figure>
                        <h6>
                            <a href="#">{% trans "Milks and" %} <br />{% trans "Dairies" %}</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'assets/imgs/theme/icons/category-2.svg' %}" alt="" /></a>
                        </figure>
                        <h6>
                            <a href="#">{% trans "Wines &" %} <br />{% trans "Alcohol" %}</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'assets/imgs/theme/icons/category-3.svg' %}" alt="" /></a>
                        </figure>
                        <h6>
                            <a href="#">{% trans "Clothing &" %} <br />{% trans "Beauty" %}</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'assets/imgs/theme/icons/category-4.svg' %}" alt="" /></a>
                        </figure>
                        <h6>
                            <a href="#">{% trans "Pet Foods" %} <br />{% trans "& Toy" %}</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'assets/imgs/theme/icons/category-5.svg' %}" alt="" /></a>
                        </figure>
                        <h6>
                            <a href="#">{% trans "Packaged" %} <br />{% trans "fast food" %}</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'assets/imgs/theme/icons/category-6.svg' %}" alt="" /></a>
                        </figure>
                        <h6>
                            <a href="#">{% trans "Baking" %} <br />{% trans "material" %}</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End category slider-->

    <section class="section-padding mb-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                    <h4 class="section-title style-1 mb-30 animated animated">{% trans "Top Selling" %}</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#"><img src="{% static 'assets/imgs/shop/thumbnail-1.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="#">{% trans "ECOMle Original Coffee-Mate Coffee Creamer" %}</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block">
                    <h4 class="section-title style-1 mb-30 animated animated">{% trans "Recently added" %}</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#"><img src="{% static 'assets/imgs/shop/thumbnail-7.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="#">{% trans "Pepperidge Farm Farmhouse Hearty White Bread" %}</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block">
                    <h4 class="section-title style-1 mb-30 animated animated">{% trans "Top Rated" %}</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#"><img src="{% static 'assets/imgs/shop/thumbnail-10.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="#">{% trans "Foster Farms Takeout Crispy Classic Buffalo Wings" %}</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End 4 columns-->
</main>
{% endblock content %}
