{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center pt-lg-4 text-center payment-failed-wrapper">
    <div class="col-lg-5 col-md-7 col-sm-9">
        <h1 class="display-404 py-lg-3">{% trans "Payment Failed" %}</h1>
        <h2 class="h3 mb-4">{% trans "Your order could not be placed, try again." %}</h2>
        <p class="fs-md mb-4">
        <a href="#">{% trans "Contact us" %}</a> {% trans "if you have any issue or question" %}
        </p>
    </div>
</div>
{% endblock content %}
